body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 50%;
}

.image-container img {
  width: 100%;
  height: auto;
}

.login-container {
  width: 25%;
  margin-top: 100px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
}

.input-submit {
  margin-bottom: 15px;
}

.input-submit label {
  display: block;
  font-weight: bold;
}

.input-submit input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.input-submit input[type="submit-login"],
.input-submit input[type="submit-register"] {
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.input-submit input[type="submit-login"]:hover,
.input-submit input[type="submit-register"]:hover {
  background-color: #45a049;
}
